<%- include('partials/navbar');-%>
<div class="container">
    <table class="table">
        <thead>
            <th scope="col">Serial No.</th>
            <th scope="col">Item Number</th>
            <th scope="col">Item Name</th>
            <th scope="col">Price</th>
            <th scope="col">Submit</th>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Total</td>
                <td></td>
                <td><button class="btn btn-primary">Submit</button></td>
            </tr>
        </tbody>
    </table>
</div>
<%- include('footer');-%>