<%-include('partials/navbar');-%>

<div class="jumbotron" style="margin-bottom: 10%;">
    <h1 class="display-4 text-warning">Oops!</h1>
    <p class="lead">It seems this E-mail Account is Already Signed in.Try to Sign Up.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">Try Again!</a>
    </p>
  </div>

<%-include('footer');-%>