<%- include("header"); -%>
    
    
    <!--content-->
    <div class="container-fluid bg position-relative">
        <div class="container bg-black w-50 position-absolute">
            <div class="container text-center text-white mt-4">
                <h4>We Sell Lifestyle</h4>
                <p>Flat 40% OFF on Premium Trends</p>
                <a class="btn btn-primary mb-4" href="/products">Shop Now</a>
            </div>
        </div>
    </div>

    <!--features section-->

    <div class="container mt-4 mb-4">
        <div class="card-group">
            <div class="card">
                <img  class="card-img-top" src="images/camera.jpg">
                <div class="card-body">
                    <h5 class="card-title">Camera</h5>
                    <p class="card-text">Choose Among the Best Cameras In the World</p>
                </div>
            </div>
            <div class="card">
                <img  class="card-img-top" src="images/watch.jpg">
                <div class="card-body">
                    <h5 class="card-title">Watches</h5>
                    <p class="card-text">Original Watches from the bBest Brands</p>
                </div>
            </div>
            <div class="card">
                <img  class="card-img-top" src="images/shirt.jpg">
                <div class="card-body">
                    <h5 class="card-title">Shirts</h5>
                    <p class="card-text">Our Excuisite Collection of Shirts</p>
                </div>
            </div>
        </div>
    </div>

<%- include("footer"); -%>