<%-include("partials/navbar");-%>
<div class="jumbotron" style="margin-bottom: 10%;">
    <h1 class="display-4 text-success">Success!</h1>
    <p class="lead"><%= successMassage %></p>
    <hr class="my-4">
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">Let's Go!</a>
    </p>
  </div>
<%-include("footer");-%>