.bg{
    background-image: url("../images/intro-bg_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
}

.bg-black{
    background-color: rgba(0,0,0,0.6);
}

.position-absolute{
    top:35%;
    left:25%;
}