/*Index Page CSS*/

.bg{
    background-image: url("../images/intro-bg_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
}

.bg-black{
    background-color: rgba(0,0,0,0.6);
}

.position-absolute{
    top:35%;
    left:25%;
}

/*Sign up Page*/

.signup{
    margin: 50px;
}
/* Login page */
.form-login,.settings{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 15%;
}

.form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .table{
    width: 100%;
    padding: 15px;
    margin: auto;
    margin-top: 15%;
    margin-bottom: 15%;
  }